@import url(../../styles/global-styles.css);
.container {
    width: 100%;
}
.navbar__logo {
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-weight: 500;
    font-size: 1.8rem;
}
.navbar__wrapper {
    width: 100%;
    position:absolute;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
input[type='checkbox'] { 
    display: none;
}
#items_navbar__mobile {
    display: none;
    background-color: var(--blue-dark);
    height: 80vh;
}

@media screen and (min-width: 500px) and (max-width: 960px) {
    .container {
        border-bottom: 2px solid rgba(151, 151, 151, 0.2);
    }
    .navbar__wrapper {
        flex-direction: column;
        padding: 16px 24px;
        border-bottom: 2px solid rgba(151, 151, 151, 0.2);
    }
    .navbar_mobile__list-items {
        display: none;
    }
    .menu_img {
        display: none;
    }
    .navbar__logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .navbar_desktop__items {
        padding: 1em 2em;
        color: rgba(255, 255, 255, 0.75);
        font-weight: 700;
        font-size: var(--fs-100);
        font-family: var(--ff-primary);
        text-transform: uppercase;
        box-sizing: border-box;
        width: 100%;
    }
    .navbar_desktop__items ul {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        padding: 0;
    }
    .navbar_desktop__items ul li {
        list-style: none;
        padding: 30px 25px;
        line-height: 25px;
    }
    .navbar_desktop__items ul li:hover:nth-child(1) {
        border-top: 4px solid var(--blue-lighter);
    }
    .navbar_desktop__items ul li:hover:nth-child(2) {
        border-top: 4px solid var(--yellow);
    }
    .navbar_desktop__items ul li:hover:nth-child(3) {
        border-top: 4px solid var(--purple);
    }
    .navbar_desktop__items ul li:hover:nth-child(4) {
        border-top: 4px solid var(--red-light);
    }
    .navbar_desktop__items ul li:hover:nth-child(5) {
        border-top: 4px solid var(--red);
    }
    .navbar_desktop__items ul li:hover:nth-child(6) {
        border-top: 4px solid var(--orange);
    }
    .navbar_desktop__items ul li:hover:nth-child(7) {
        border-top: 4px solid var(--cyan);
    }
    .navbar_desktop__items ul li:hover:nth-child(8) {
        border-top: 4px solid var(--blue-light);
    }
}

@media screen and (max-width: 500px) {
    .container {
        border-bottom: 2px solid rgba(151, 151, 151, 0.2);
    }
    .navbar_desktop__items {
        display: none;
        border-bottom:2px solid rgba(151, 151, 151, 0.2);
        box-sizing: border-box;
    }
    .navbar_mobile__items ul li {
        color: var(--white);
        font-weight: 700;
        font-family: var(--ff-primary);
        list-style: none;
        font-size: 1rem;
        text-transform: uppercase;
    }
    .navbar_mobile__list_items {
        display: flex;
        padding: 15px 20px 15px 0;
    }
    .navbar_mobile__chevron {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        align-items: center;
    }
    
    .menu_img {
        width: 35px;
        height: 35px;
        color: var(--white);
        padding-top: 4px;
    }

    .menu:checked ~ #items_navbar__mobile {
        display: flex;
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    .circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 15px;
        align-self: flex-start;
    }
    .chevron_right {
        width: 15px;
    }
}
@media screen and (min-width:960px) {
    .navbar__wrapper {
        padding: 0;
    }
    .navbar__logo {
        display: flex;
        align-items: center;
        padding: 0 1em;
    }
    .chevron_right {
        display: none;
    }
    .menu_img {
        display: none;
    }
    /* .navbar-mobile__items {
        display: none;
    } */
    .navbar_desktop__items ul {
        list-style: none;
        display: flex;
        margin: 0;
    }
    .navbar_desktop__items ul li {
        color: var(--ligth-white-fonts);
        font-family: var(--ff-primary);
        font-weight: 700;
        text-transform: uppercase;
        padding: 4em 2em;
        font-size: var(--fs-100);
    }
    .navbar_desktop__items ul li:nth-child(1):hover {
        border-top: 4px solid var(--blue-lighter);
    }
    .navbar_desktop__items ul li:nth-child(2):hover {
        border-top: 4px solid var(--yellow);
    }
    .navbar_desktop__items ul li:nth-child(3):hover {
        border-top: 4px solid var(--purple);
    }
    .navbar_desktop__items ul li:nth-child(4):hover {
        border-top: 4px solid var(--red-light);
    }
    .navbar_desktop__items ul li:nth-child(5):hover {
        border-top: 4px solid var(--red);
    }
    .navbar_desktop__items ul li:nth-child(6):hover {
        border-top: 4px solid var(--orange);
    }
    .navbar_desktop__items ul li:nth-child(7):hover {
        border-top: 4px solid var(--cyan);
    }
    .navbar_desktop__items ul li:nth-child(8):hover {
        border-top: 4px solid var(--blue-lighter);
    }
}