/* general or global style for Box.jsx */
.footer_boxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px rgba(220, 220, 220, 0.26);
    color: white;
    text-transform: uppercase;
}

.footer_boxes > h2{
    color: rgba(255, 255, 255, 0.562);
}

/* mobile-style */
@media screen and (max-width: 500px){

    .footer_boxes{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 100%;
        margin: 15px 40px;
        padding: 20px;
    }

    .footer_boxes > h2 {
        font-size: 0.8rem;
    }
    
}

/* tablet-style */
@media screen and (min-width: 501px){
   .footer_boxes{
       width: 50%;
       height: 200px;
       margin: 0px;
       padding: 10px;
   }

   .footer_boxes h2 {
    font-size: 1rem;
    text-align: center;
}

.footer_boxes h4 {
    font-size: 1rem;
    text-align: center;
    align-items: center;
}

.footer_boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgba(220, 220, 220, 0.26);
    color: white;
    text-transform: uppercase;
}
} 